.parent {
  display: grid;
  width: 100%;
  height: 300px;
  border: 2px solid black;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: repeat(3, 50px);
  /* gap: 20px; */
  /* column-gap: 20px; */
  /* justify-items: center;
  align-items: center; */

  justify-content: center;
  align-content: center;
}
.childs {
  border: 2px solid red;
  /* width: 20px;
  height: 20px; */
  font-size: 10px;
}

#child4 {
  grid-column: 1 / span 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

#child3 {
  grid-column: 3/5;
}

#child1 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 2;
}

#child2 {
  grid-column: 1/3;
}
