.parent {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* justify-content: center;
  /* gap: 20px;
  row-gap: 20px;
  column-gap: 20px; */
  /* flex-wrap: wrap; */
  /* align-content: start; */
  justify-content: space-between;
  height: 100px;
}

.child {
  background-color: aqua;
  width: 100px;
  /* height: 100px; */
}
