/* .parent {
  width: 100%;
  height: 300px;
  border: 2px solid black;

  display: flex;
  align-items: stretch;
  justify-content: stretch;
  gap: 10px;
}
.child {
  width: 50px;
  height: 50px;
  background: #000;
  color: white;
}
#first {
  width: 50px;
}
#fourth {
  display: flex;
  order: 3;
  flex-grow: 3;

  flex-basis: 50px;
  flex-shrink: 0;
}
#third {
  width: 50px;
  flex: 5 0 150px;
  align-self: flex-end;
}
#second {
  order: 5;
  flex-grow: 2;
  width: 50px;
}
#last {
  width: 50px;
  align-self: flex-start;
} */

.menu {
  height: 33px;
  background: rgb(24, 24, 24);
  display: flex;
  gap: 20px;
}
.items {
  width: fit-content;
  padding: 5px 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.items:hover {
  background-color: green;
}
