/* external styling */

h1 {
  color: aqua !important;
  background-color: red;
}
#firstHeading {
  /* border-color: red;
  border-width: 1px;
  border-style: dashed; */

  border: 1px solid green;

  outline: 2px solid red;
  /* border: dotted 2px red; */

  /* padding: 20px;
  margin: 100px; */
  /* padding-left: 200px;
  padding-right: 100px;
  /* padding: 200px 100px 200px 0; */
  margin: 0 0 0 0;
  margin-top: 147px;
  padding: 200px 200px;
}
.heading {
  background-position: 80% 40%;
}


